.full-menu {
    margin-top: 5rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.menu-tab {
    justify-content: center;
    margin-top: 1rem;
}

.drinks-tab {
    font-family: 'Merriweather', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.drinks-tab ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
}

.drinks-tab li {
    cursor: pointer;
    padding: 0.5em 1em;
    background-color: #faf8f5;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}

.drinks-tab li:hover {
    background-color: #eae7e2;
}

.menu-card-container {
    font-family: 'Merriweather', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    width: 100%;
    max-height: 60vh;
    /* 고정된 높이 설정 */
    overflow-y: auto;
    /* 내부에서 세로 스크롤 가능 */
}

.menu-card {
    border: none;
    border-radius: 1em;
    flex: 1 1 calc(33% - 2em);
    margin: 1%;
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s;
    max-width: 280px;
    /* 최대 너비 설정 */
}

.menu-card:hover {
    transform: translateY(-0.5em);
}

.menu-card .content {
    padding: 1em;
    text-align: center;
}

.menu-card .icon {
    font-size: 2em;
    color: #6b4f4f;
    margin-bottom: 0.5em;
}

.menu-card h3 {
    margin: 0;
    padding: 0.5em 0;
    color: #6b4f4f;
    font-size: 1.2em;
}

.menu-card .price {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    background-color: #faf8f5;
}

.menu-card .price div {
    width: 50%;
    text-align: center;
    padding: 0.5em 0;
}

.menu-card .price div:not(:last-child) {
    border-right: 1px solid #eee;
}

.price strong {
    display: block;
    margin-bottom: 0.5em;
    color: #8c6745;
}