.full-menu {
    margin-top: 5rem;
    height: 80vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.menu-tab {
    padding-top: 3rem;
    justify-content: center;
}

.coffee-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.5rem;
}

.coffee-tabs div {
    font-size: 1rem;
    margin: 0 0.1rem;
    padding: 0.3rem 0.8rem;
    background-color: #F7DC6F;
    border-radius: 4px;
}

.coffee-tabs div:hover {
    background-color: #F4D03F;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}