.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    font-family: "Hi Melody", sans-serif;
}

.nav-logo {
    flex: 1;
    font-weight: bold;
    font-size: 3rem;
    text-decoration-line: none;
    color: black;
    text-align: center;
}
.navlogo:hover {
    cursor: pointer;
}

.nav-sub {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.nav-item {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
