.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    font-family: "Hi Melody", sans-serif;
    background-color: white;
}

.nav-logo {
    flex: 1;
    background-image: url('/src/assets/images/logo.png');
    height: 100%;
    width:  10px;
    background-size: cover;
    background-position: center;
}
.nav-logo:hover {
    cursor: pointer;
}

ul {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

li {
    list-style-type: none;
    font-size: 1.5rem;
    color: black;
}
