.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    font-family: "Hi Melody", sans-serif;
    background-color: #F1EDEB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    flex: 1;
    background-image: url('/src/assets/images/logo-removebg-preview.png');
    height: 100%;
    width:  50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-logo:hover {
    cursor: pointer;
}
.nav-item {
    padding: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.nav-item:hover {
    background-color: #D9D3D0;
}

ul {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0 !important;
}

li {
    list-style-type: none;
    font-size: 1.5rem;
    color: black;
}
