.representative {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.representative h4 {
    margin: 2rem;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 2rem;
    text-align: start;
}

.representative button {
    align-self: flex-end;
    margin: 2rem;
    margin-top: 0;
    padding: 10px 20px;
    background-color: #D9D3D0;
    color: #373940;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
}
.representative button:hover {
    background-color: #B2ABA8;
}

.menu-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-list {
    display: flex;
    justify-content: space-around;
}

.menu-img {
    height: 180px;
}

.menu-body {
    height: 180px;
}