.representative {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.representative h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.representative button {
    align-self: flex-end;
    margin: 2rem;
    padding: 10px 10px;
    background-color: #D9D3D0;
    color: #373940;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
}
.representative button:hover {
    background-color: #B2ABA8;
}

.menuNbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuNbutton h4 {
    flex: 7;
}

.menuNbutton button {
    display: block;
}

.menu-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-list {
    display: flex;
    justify-content: space-around;
}

.menu-img {
    height: 180px;
}

.menu-body {
    height: 180px;
}